img.logo {
    width: 72%;
}

.logo1 {
    width: 21%;
    
}
ul.navbar-nav.mr-auto li {
    font-size: 20px;
    padding-right: 17px;
}
center {
    margin-top: 35px;
}
div#container {
    margin-top: 54px;
    width: 100%;

}
div#ligne_ {
    margin-bottom: 20px;
}
p.p1 {
    font-weight: bold;
    font-size: 15px;
    color:#e44e06;
}
.row.justify-content-center {
    width: 100%;
}
img.img1 {
    height: 35%;
    width: 100%;
}

.res{
    background-image: url("https://www.rentiles.fr/template/pepsiles/img/background-blog.jpg");
}
.imgres{
    width: 70%;
}
.part1 {
    border: 1px solid white;
    width: 54%;
    margin-left: 25%;
    padding: 4%;
}
.part2 {
    margin-top: 11%;
}

label.label1 {
    color: white;
    font-weight: bold;
    font-family: initial;
}