input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: rgb(42, 42, 202);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;
  }
  input[type=reset] {
    background-color: rgb(42, 42, 202);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 2%;

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    
    padding: 20px;

    
  } 
  .note{
    font-size: 13px;
    text-align: right;
    color: red;
  }
  .container h1{
    color: rgb(190, 92, 92);
    text-align: center;
  }
  .fa {
    padding: 15px;
    
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 3px;
    border-radius: 60%;
  }
  .fa:hover{
    background: rgb(123, 211, 123);
    
  }



  
  
.titrep1{
  color: blue;
  font-size: 50px;
}
.slogan{
  text-align: center;
  font-size: 60px;
  color: gray;

}
.titrep2{
  font-size: 40px;
  color: aqua;
  margin-left: 5%;
}
/* .titre3{
  display: flex;
  margin: 5%;
} */
/* .titre3 img{
  width: 50%;
  height: 300px;
} */
