@import url('https://fonts.googleapis.com/css?family=Charm:400,700');

body {
  font-size: 14px;
}

.three_pictures {
  i {
    font-size: 4em;
    color: #007bff;
    &:hover {
      transform: rotate(360deg) scale(1.04);
      transition: 1000ms;
      cursor: pointer;
    }
    border: 2px solid #007bff;
    border-radius: 50%;
    padding: 22px;
    margin-top: 20px;
  }
  text-align: center;
}

.colorer {
  color: black;
  padding-top: 0.5em;
}

.owl-carousel .owl-item img {
  width: unset !important;
}

.row.les_marques {
  background: lightgray;
}

.block1 {
  min-height: 400px;
  background: red;
}

.lesrow_spec {
  padding: 0px !important;
  margin: 0px !important;
}

.first .col-lg-6 {
  &.block1 {
    background: lightblue;
  }
  &.block2 {
    background: url('./images/car.png');
  }
}

.second .col-lg-6 {
  &.block1 {
    background: lightblue;
  }
  &.block2 {
    background: url('./images/car2.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.center {
  text-align: center;
  padding-top: 15px;
}

.block1 {
  h1 {
    font-family: 'Charm', cursive;
    font-weight: 700;
  }
  h2 {
    font-size: 1.7em;
    color: #c10000;
  }
}

.padds10 {
  padding-top: 10px;
  padding-left: 10px;
}

.justify {
  text-align: justify;
}

.parralax {
  background: url('./images/parrallax.jpg');
  min-height: 400px;
  background-attachment: fixed;
  DISPLAY: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 3px 1px black;
}

.noover {
  overflow: hidden;
  border: 3px solid #80808012;
  margin-top: 20px;
  padding: 0px !important;
  margin: 0px !important;
  text-align: center;
}

.lesp {
  margin: 0px;
  margin-bottom: 2px;
  margin-top: 2px;
  background: #f1f1f0;
  padding: 10px;
  color: black;
  font-weight: bold;
  &:hover {
    background: #8080803b;
    color: black;
  }
}

.p3 a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.noover {
  span {
    position: absolute;
    left: 3px;
    background: #007bff;
    padding: 3px 11px;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    &.nod {
      background: #ff0000;
      padding: 3px 11px;
      color: white;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  margin-right: 1% !important;
  margin-bottom: 1% !important;
  margin-top: 1% !important;
}

.owl-nav {
  margin: 0 auto;
  width: 35px;
}

button {
  &.owl-prev span {
    font-size: 2em;
    font-weight: bold;
    color: #c10000;
    padding-right: 12px;
  }
  &.owl-next span {
    font-size: 2em;
    font-weight: bold;
    color: #c10000;
  }
}



/***************/

.logo1 {
  width: 21%;
}

img.logo {
  width: 72%;
}

ul.navbar-nav.mr-auto li {
  font-size: 20px;
  padding-right: 17px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  fill: white;
}

.lab1 {
  color: white;
}

span.num {
  text-align: center;
  color: white;
  display: block;
  font-size: 13px;
}

.lp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  margin-bottom: 0;
  border-bottom: 1px solid #dedbdb;
}

p {
  &.lp11 {
    color: #404040;
  }
  &.titree {
    font-family: serif;
    font-size: 35px;
    color: black;
  }
}

.titre {
  margin-top: 20px;
}

p.titree {
  text-align: center;
  border: 1px solid green;
  width: 320px;
  margin: 0 auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  fill: white;
}

.lab1 {
  color: white;
}

span.num {
  text-align: center;
  color: white;
  display: block;
  font-size: 13px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

.decorative-title {
  position: relative;
  width: 85%;
  margin: 0 auto;
  span {
    display: block;
    padding: 2rem 0.5rem 1rem;
    background-color: #0072bc;
    color: #f2f2f2;
    text-align: center;
    font: 2rem sans-serif;
    letter-spacing: 0.3rem;
  }
}
 
@media (min-width: 576px) {
  .decorative-title {
    width: 100%;
    span {
      font-size: 3rem;
    }
  }
}

.decorative-bar {
  position: absolute;
  background-color: red;
}

.left {
  &.thick {
    left: -20px;
  }
  &.thin {
    right: 0;
  }
  &.vertical {
    top: -20px;
  }
  &.horizontal {
    &.thick {
      top: -20px;
    }
    &.thin {
      top: -16px;
    }
  }
}

.right {
  &.thick {
    right: -20px;
  }
  &.thin {
    left: 0;
  }
  &.vertical {
    bottom: -20px;
  }
  &.horizontal {
    &.thick {
      bottom: -20px;
    }
    &.thin {
      bottom: -16px;
    }
  }
}

.vertical {
  width: 8px;
  height: 80px;
}

.horizontal {
  &.thick {
    width: 30%;
    height: 8px;
  }
  &.thin {
    width: 80%;
    height: 2px;
  }
}

.card {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.13);
  transition: 1s;
  &:hover {
    box-shadow: none;
    transition: 1s;
  }
}

img.logo {
  width: 72%;
}

.logo1 {
  width: 21%;
}

ul.navbar-nav.mr-auto li {
  font-size: 20px;
  padding-right: 17px;
}

center {
  margin-top: 35px;
}

div {
  &#container {
    margin-top: 54px;
    width: 100%;
  }
  &#ligne_ {
    margin-bottom: 20px;
  }
}

p.p1 {
  font-weight: bold;
  font-size: 15px;
  color: #e44e06;
}

.row.justify-content-center {
  width: 100%;
}

img.img1 {
  height: 35%;
  width: 100%;
}

.res {
  background-image: url("https://www.rentiles.fr/template/pepsiles/img/background-blog.jpg");
}

.imgres {
  width: 70%;
}

.part1 {
  border: 1px solid white;
  width: 54%;
  margin-left: 25%;
  padding: 4%;
}

.part2 {
  margin-top: 11%;
}

label.label1 {
  color: white;
  font-weight: bold;
  font-family: initial;
}

.lp11 {
  text-align: center;
  font-weight: bold;
}

.lp1 {
  text-align: center;
  font-weight: bold;
  color: #0072bc;
}

.line2, .line3 {
  margin-top: 50px;
}

.lp1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 47px;
  margin-bottom: 0;
  border-bottom: 1px solid #dedbdb;
}

p {
  &.lp11 {
    color: #404040;
  }
  &.titree {
    font-family: serif;
    font-size: 35px;
    color: black;
  }
}

.titre {
  margin-top: 20px;
}

p.titree {
  text-align: center;
  border: 1px solid green;
  width: 320px;
  margin: 0 auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  fill: white;
}

.lab1 {
  color: white;
}

span.num {
  text-align: center;
  color: white;
  display: block;
  font-size: 13px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 2rem;
}

.decorative-title {
  position: relative;
  width: 85%;
  margin: 0 auto;
  span {
    display: block;
    padding: 2rem 0.5rem 1rem;
    background-color: #0072bc;
    color: #f2f2f2;
    text-align: center;
    font: 2rem sans-serif;
    letter-spacing: 0.3rem;
  }
}

@media (min-width: 576px) {
  .decorative-title {
    width: 100%;
    span {
      font-size: 3rem;
    }
  }
}

.decorative-bar {
  position: absolute;
  background-color: red;
}

.left {
  &.thick {
    left: -20px;
  }
  &.thin {
    right: 0;
  }
  &.vertical {
    top: -20px;
  }
  &.horizontal {
    &.thick {
      top: -20px;
    }
    &.thin {
      top: -16px;
    }
  }
}

.right {
  &.thick {
    right: -20px;
  }
  &.thin {
    left: 0;
  }
  &.vertical {
    bottom: -20px;
  }
  &.horizontal {
    &.thick {
      bottom: -20px;
    }
    &.thin {
      bottom: -16px;
    }
  }
}

.vertical {
  width: 8px;
  height: 80px;
}

.horizontal {
  &.thick {
    width: 30%;
    height: 8px;
  }
  &.thin {
    width: 80%;
    height: 2px;
  }
}

.card {
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.13);
  transition: 1s;
  &:hover {
    box-shadow: none;
    transition: 1s;
  }
}

.col-md-12.py-5 {
	text-align: center;
}

.page-footer.font-small.cyan.darken-3
{
  text-align: center;
background:#007bff80;

} 


.footer-copyright.text-center.py-3 * {
	display: inline;
	color: #c20600;
}


.reseau i {
  &:hover
  {
  transform: rotate(360deg);
  transition: 1000ms;
}
}

.sociaux {
  position: fixed;
  z-index: 200;
  top: 30%;

  
}

.sociaux i.fab.fa-facebook-f.fa-lg.white-text.mr-md-5.mr-3.fa-2x:hover {
  color: blue;
}
.sociaux i.fab.fa-twitter.fa-lg.white-text.mr-md-5.mr-3.fa-2x:hover {
  color: blue;
}
.sociaux i.fab.fa-google-plus-g.fa-lg.white-text.mr-md-5.mr-3.fa-2x:hover {
  color: red;
}
.sociaux i.fab.fa-linkedin-in.fa-lg.white-text.mr-md-5.mr-3.fa-2x:hover {
  color: blue;
}
.sociaux i.fab.fa-instagram.fa-lg.white-text.mr-md-5.mr-3.fa-2x:hover {
  color: purple;
}



.scrollTop {
  position: fixed;
  right: 3%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  z-index: 20200202;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}

